*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    width: 100%;
    height: auto;
    background-color: orange;

}

.Cards-top{
    display: flex;
    justify-content: center;
    flex-direction: wrap;
    width: 100%;
    padding: 5px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow:0 5px 14px rgba(0, 0, 0, 0.25);
    padding: 2vh;
    margin: 1vh;
}